@page
@model EndPoint.Razor.Pages.Account.CreatePostModel
 

@{
    Layout = "_Layout-page";
    ViewData["Title"] = $" {Request.Cookies["FirstName"]} ایجاد پست جدید";
}

<h2 class="mb-4">ایجاد پست جدید</h2>
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">
        @Model.SuccessMessage
    </div>
}
<form method="post" class="bg-white p-4 rounded shadow-sm" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Model.Title" class="form-label">عنوان پست</label>
        <input asp-for="Model.Title" type="text" class="form-control"  required />
    </div>

    <div class="mb-3">
        <label asp-for="Model.CategoryId" class="form-label">دسته‌بندی</label>
        <select asp-for="Model.CategoryId" asp-items="Model.Categories" class="form-control">
            <option value="">-- انتخاب کنید --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Model.Description" class="form-label">متن پست</label>
        <textarea asp-for="Model.Description" class="form-control" rows="8" required></textarea>
    </div>
    <label asp-for="Model.ImageUrl">انتخاب عکس:</label>
    <input asp-for="Model.ImageUrl" type="file"  accept="image/*" />
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> انتشار پست
    </button>
</form>
<div id="message-box" class="mt-4 text-center text-sm">
    <div style="color:red">@Model.Message</div>
</div>