@page
@model EndPoint.Razor.Pages.Account.EditModel
@{
    Layout = "_Layout-page";
    ViewData["Title"] = $" {Request.Cookies["FirstName"]} ویرایش پست ";
}
<form method="post"@*  asp-route-postid="Post.Id" *@ class="bg-white p-4 rounded shadow-sm" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="hidden"  asp-for="Post.Id" />
        <label asp-for="Post.Title" class="form-label">عنوان پست</label>
        <input asp-for="Post.Title" type="text" class="form-control" required />
    </div>

    <div class="mb-3">
        <label asp-for="Post.CategoryId" class="form-label">دسته‌بندی</label>
        <select asp-for="Post.CategoryId" asp-items="Model.Categories" class="form-control">
            <option value="Post.CategoryId"> </option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Post.Description" class="form-label">متن پست</label>
        <textarea asp-for="Post.Description" class="form-control" rows="8" required></textarea>
    </div>
    <img asp-routed-img=" " src= "@(string.IsNullOrEmpty(Model.Post.ImageUrl)
                      ? "/images/default.png"
                      : Model.Post.ImageUrl)"
         alt="عکس پست" class="img-fluid" />
    <div class="form-group">


        <label asp-for="Post.ImageFile">انتخاب تصویر (JPEG، حداکثر 2MB)</label>
        <input type="file" asp-for="Post.ImageFile" id="imageInput" accept="image/jpeg" class="form-control" />
        <span asp-validation-for="Post.ImageFile" class="text-danger"></span>
    </div>
   @*  @Html.Partial("_ImageUploadPartial", Model.Post.ImageFile)
    @Html.EditorFor(m => m.Post.ImageFile) *@
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> ویرایش
    </button>
</form>